table,th,td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(even){
    background-color: darkcyan;
}
.row_one{
    background-color:black;
    color: aliceblue;
}
th,td{
    padding-top: 7px;
    padding-bottom: 10px;
}
div{
    overflow:auto;
}